@{
    ViewBag.Title = "PutTicketSuccess";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="hentry">
    <div class="post-title">
        <a>Đặt chỗ thành công</a>
    </div>
    <p>Cám ơn bạn đã sử dụng dịch vụ của chúng tôi!</p>
    <p>Chúc bạn có một chuyến đi an toàn!</p>
    <p>BayRẻ.vn</p>
</div>
