@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="hentry">
    <div class="post-title">
        <a>Tìm kiếm dịch vụ vận chuyển</a>
    </div>
    <p>Chức năng đang được hoàn thành</p>
</div>
