
<div class="footer-content">
    <div class="footer_left">
        <p class="flinks">
            <a href="">BayRe.vn</a> | 
            <a href="/Home/TermsOfUse">Thỏa thuận sử dụng</a> | 
            <a href="/Home/AboutUs">Về chúng tôi</a> | 
            <a href="/Home/ForAdvertisers">Đăng quảng cáo</a> | 
            <a href="/Home/ContactUs">Liên hệ</a>
        </p><p>
                <strong>Copyright © Bay Rẻ</strong>
                <br>                                                                                       
                ©2012 BayRe. All rights reserved.
                <br>
                Vui lòng ghi nguồn <a href="">BayRe.vn</a> khi phát hành lại thông tin từ website này.  
            </p>
    </div>
    <div class="footer_right">
        <p>Một sản phẩm của <a href="" class="gmail" title="[0912043 - Nguyễn Văn Công] [0912059 - Đào Mạnh Cường] [ - Lê Phú Thái Hà]">0912043 - 0912059 - 09120..</a></p>
        <div style="margin-top: 10px;">
            <i>Theo chúng tôi tại:</i>
            <ul class="social" id="css3">
                <li class="facebook">
                    <a onclick="window.open('http://www.facebook.com/Sphereshopping');" style="cursor: pointer"><strong>Facebook</strong></a>
                </li>
                <li class="twitter">
                    <a onclick="window.open('https://twitter.com/Sphereshoppingc');" style="cursor: pointer"><strong>Twitter</strong></a>
                </li>
                <li class="googleplus">
                    <a onclick="window.open('https://plus.google.com/109011352352396743937')"><strong>Google+</strong></a>
                </li>
                <li class="skype">
                    <a href="#"><strong>Chat Skype</strong></a>
                </li>
                <li class="yahoo">
                    <a href="#"><strong>Y!M</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>
