@using Hw4FlightClient.Models

@model List<FlightInfo>

<div>
    <div class="post-title">
        <a>Tìm được tất cả <span style="color: #F38533; font-size: 120%;">@Model.Count</span> chuyến bay</a>
    </div>

    @foreach (FlightInfo flight in Model)
    {
        <h1 class="widget-title">@flight.From</h1>
    }
</div>