<ul id="menu-top" class="menu">
    <li class="current-menu-item current_page_item"><a href="">Trang chủ</a></li>
    <li><a href="">Khách sạn</a></li>
    <li><a href="">Xe</a></li>
    <li><a href="">Deals</a></li>
</ul>
